* {
  box-sizing: border-box;
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .cont {
  display: grid;
}

nav {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 20px;
  margin: 30px;
  color: #2d2d2d;
  position: fixed;
}
nav a {
  text-decoration: none;
  font-weight: 200;
  color: black;
  display: flex;
  position: relative;
  font-size: 20px;
}
nav a::after {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: rgb(9, 3, 55);
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 150ms ease-in-out;
}
nav a:hover::after {
  width: 100%;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  gap: 100px;
  margin: 100px 0;
  color: #2d2d2d;
}
@media (max-width: 768px) {
  .welcome {
    flex-direction: column;
    gap: 40px;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.left {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.left .towork {
  text-decoration: none;
}
.left .but {
  text-decoration: none;
  position: relative;
  display: flex;
  background-color: #2d2d2d;
  color: white !important;
  border: none;
  width: 220px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 768px) {
  .left .but {
    margin: 0 auto;
  }
}
.left .but::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: width 150ms ease-in-out;
}
.left .but:hover::after {
  width: 100%;
}
.left .but:hover {
  color: #2d2d2d;
  border: 1px #2d2d2d solid;
}
.left .but:hover span {
  position: relative;
  z-index: 1;
  color: #2d2d2d;
}
.left .about {
  font-size: 20px;
  max-width: 620px;
  font-weight: 100;
  line-height: 27px;
}
@media (max-width: 768px) {
  .left .about {
    font-size: 18px;
  }
}
.left h1 {
  font-size: 40px;
}
@media (max-width: 768px) {
  .left h1 {
    font-size: 32px;
  }
}
.left b {
  font-size: 25px;
  font-weight: 100;
}
@media (max-width: 768px) {
  .left b {
    font-size: 20px;
  }
}

.skills {
  margin-top: 150px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: #2d2d2d;
  margin: 100px 0;
  flex-wrap: wrap;
}
.skills .skill {
  width: 90%;
  max-width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-weight: 100;
  line-height: 27px;
}

.projects {
  color: #2d2d2d;
  font-weight: 100;
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: space-around;
  align-self: center;
  justify-self: center;
  flex-wrap: wrap;
  gap: 20px;
}
.projects .project {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  line-height: 37px;
  transition: 200ms ease-out;
}
.projects .project .img {
  width: 430px;
  height: 400px;
}
@media (max-width: 768px) {
  .projects .project {
    width: 90%;
  }
}
.projects .project:hover {
  box-shadow: 0px 2px 770.2px -81px rgba(0, 0, 0, 0.14), 0px 5px 735.2px -81px rgba(0, 0, 0, 0.097), 0px 10.3px 664.5px -81px rgba(0, 0, 0, 0.078), 0px 21.2px 583.7px -81px rgba(0, 0, 0, 0.062), 0px 58px 500px -81px rgba(0, 0, 0, 0.043);
  margin-bottom: 10px;
}
.projects .first {
  background-image: url(IMG/Light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects .second {
  background-image: url(IMG/Clock.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects .third {
  background-image: url(IMG/stopwatch.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects .fourth {
  background-image: url(IMG/xax.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects .fifth {
  background-image: url(IMG/bet.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects .sixth {
  background-image: url(IMG/portfolio.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contactme {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin: 200px 0;
}
@media (max-width: 1024px) {
  .contactme {
    gap: 100px;
  }
}
@media (max-width: 768px) {
  .contactme {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    gap: 40px;
    margin: 100px 0;
  }
}
.contactme .contact {
  position: relative;
  display: flex;
  background-color: #2d2d2d;
  color: white;
  border: none;
  width: 220px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  margin: 100px 0;
}
.contactme .contact::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: width 150ms ease-in-out;
}
.contactme .contact:hover::after {
  width: 100%;
}
.contactme .contact:hover {
  color: #2d2d2d;
  border: 1px #2d2d2d solid;
}
.contactme .contact:hover span {
  position: relative;
  z-index: 1;
  color: #2d2d2d;
}
.contactme .left {
  display: flex;
  max-width: 570px;
}
@media (max-width: 768px) {
  .contactme .left {
    max-width: 100%;
    text-align: center;
  }
}
.contactme .left h2 {
  font-size: 35px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .contactme .left h2 {
    font-size: 28px;
  }
}
.contactme .left p {
  font-weight: 100;
  font-size: 22px;
}
@media (max-width: 768px) {
  .contactme .left p {
    font-size: 18px;
  }
}
.contactme .left .svgs {
  position: relative;
  display: flex;
}
@media (max-width: 768px) {
  .contactme .left .svgs {
    position: unset;
    display: block;
  }
}
.contactme .left .svgs a {
  text-decoration: none;
  color: #2d2d2d;
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .contactme .left .svgs a {
    justify-content: center;
    align-self: center;
    position: unset;
    align-self: flex-end;
    align-self: self-end;
    color: #2d2d2d;
  }
}
.contactme .left .svgs a::after {
  content: "";
  width: 0;
  height: 1.5px;
  background-color: rgb(9, 3, 55);
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 150ms ease-in-out;
}
.contactme .left .svgs a:hover::after {
  width: 100%;
}
.contactme .left .svgs a svg {
  width: 30px;
  height: 30px;
}
.contactme .right .mail {
  font-size: 24px;
}
@media (max-width: 768px) {
  .contactme .right .mail {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 38px;
  }
}
.contactme .right button {
  margin-top: 20px;
}/*# sourceMappingURL=style.css.map */