body{
    background-color: rgb(10, 1, 31);
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    color: white;
    font-family: monospace;
}
button{
    background-color: rgb(255, 249, 249);
    color: black;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}
h2{
    font-size: 100px;
}

#laps{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
}