body{
  background-color: black;
  color: white;
}

#time{
  font-family: monospace;
  font-size: 50px;
  display: none;
}

#clock {
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-self: center;
    position: relative;
    align-self: center;
    border-radius:50px;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
  }
  
  #clock:hover{
    transform:scale(0.8);
    background-color: rgb(0, 0, 0);
    display: none;
    cursor: pointer;
  }


  #clock:hover #time{
    color: white;
    display: inline;
  }

  #clock:hover .cont{
    background-color: white;
  }

  #clock:hover #seconds{
    background-color: rgb(0, 0, 0);
    display: none;
  }

  #clock:hover #mins{
    background-color: rgb(0, 0, 0);
    display: none;
  }

  #clock:hover #hours{
    background-color: rgb(0, 0, 0);
    display: none;
  }
  


  #seconds {
    width: 2px;
    border-radius: 10px;
    margin-bottom: 250px;
    transform-origin: bottom center;
    /* transform: rotate(90deg); */
    height: 250px;
    background-color: rgb(0, 0, 0);
    position: absolute;
  }
  
  #mins{
    width: 5px;
    margin-bottom: 250px;
    transform-origin: bottom center;
    /* transform: rotate(90deg); */
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    position: absolute;
  }


  #hours{
    width: 15px;
    margin-bottom: 250px;
    transform-origin: bottom center;
    /* transform: rotate(90deg); */
    height: 250px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
